.row {
  display: flex;

  .sections-table {
    height: 506px;
    overflow-y: scroll;
    display: inline-block;

    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td,
    th {
      text-align: right;
      padding: 0 8px 0 8px;
    }

    tr {
      &.e {
        background: #90ee90;
      }
      &.m {
        background: #ffe4c4;
      }
      &.t {
        background: #ffa07a;
      }
      &.i {
        background: #f08080;
      }
      &.r {
        background: #ee82ee;
      }
    }
  }

  .map {
    .main-info {
      display: flex;
      font-weight: 500;
      line-height: 50px;
      text-align: center;
      .column {
        margin-left: 10px;
      }
    }

    .input-info {
      line-height: 50px;
      text-align: center;
    }
  }
}
